h1 {
    color: #b10005;
    text-align: center;
    font-size: 90px;
    margin-bottom: 10px;


}


nav ul {
    display: inline-block;
    width: 100%;
    padding: 10px 10px;
    background-color: #b10005;
    border: 5px solid #fff;
    text-align: center;
    color: #fff;
    margin-bottom: 10px;

}

nav a {

    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 10px 50px;
    text-decoration: none;
    color: inherit;
}

body {
    background-color: antiquewhite;
}


.texto {
    width: 70%;
    margin-left: 150px;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 40px;
    color: #b10005;
    border: 5px solid white;
    margin-top: 60px;
    padding: 0px 30px;
}

.producto {
    border: 1px solid red;
    display: grid;
    grid-template-columns: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    grid-template-rows: 50px 50px;
    column-gap: 200px;
    gap: 1px 1px;

}

.royal{
    background: grey;
    text-align: center;
    border: black 5px solid;
}

.euka{
    background: rgb(87, 40, 218);
    text-align: center;
    border: black 5px solid;
}

.prop{
    background: rgb(238, 74, 164);
    text-align: center;
    border: black 5px solid;
}

.exc{
    background: orange;
    text-align: center;
    border: black 5px solid;
}

footer {
    font-size: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    animation-duration: 2s;
    animation-name: redes;
}

@keyframes redes {
    from {
        margin-left: 100%;
        width: 300%
    }

    to {
        margin-left: 0%;
        width: 100%;
    }
}

@media screen and (max-width: 768px) {
    .producto {
        border: 1px solid black;
        display: grid;
        grid-template-columns: repeat(2, 50%);
        grid-template-rows: repeat(2, 100px);
        gap: 1px 1px;
        grid-template-areas:
            "royal euka"
            "prop exc"
        }

    .royal{
        grid-area: Royal Canin;
        background-color: rgb(122, 198, 233);
    }

    .euka{
        grid-area: Eukanuba;
        background-color: rgb(88, 24, 64);
    }

    .prop{
        grid-area: Proplan;
        background-color: rgb(29, 153, 29);
    }

    .exc{
        grid-area: Excellent;
        background-color: rgb(150, 230, 46);
    }

@media screen and (max-width: 320px) {
    .producto {
        border: 1px solid black;
        display: grid; 
        grid-template-columns: repeat(4, 50%);
        grid-template-rows: repeat(1, 200px);
        gap: 1px 1px;

    }

    .royal{
        grid-area: Royal Canin;
        background-color: white;
    }

    .euka{
        grid-area: Eukanuba;
        background-color: red;
    }

    .prop{
        grid-area: Proplan;
        background-color: blue;
    }

    .exc{
        grid-area: Excellent;
        background-color: orange;
    }

    .footer-padre {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    
    
    .footer.p {
        font-size: 30px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        text-align: center;
    }
}
}