body header {
  margin: 0%;
  padding: 0%;
  text-align: center;
  background-color: transparent; }

body header h1 {
  font-family: "Cookie", cursive;
  font-size: 180px;
  background-image: none; }

body header i {
  font-size: 130px;
  padding-right: 10px;
  padding-left: 10px; }

header,
div.fondo {
  background-image: url("https://png.pngtree.com/thumb_back/fh260/background/20210327/pngtree-cute-dog-tiling-background-silhouette-small-animal-image_595773.jpg");
  background-size: contain;
  background-repeat: inherit;
  background-position: 100% 100%  100%; }

footer {
  text-align: center;
  font-size: 30px;
  font-family: 'Lobster', cursive;
  margin-top: 50px; }

footer div a i {
  color: #9b9b9b; }

nav {
  padding: 0%;
  margin: 0%;
  border: solid #9b9b9b; }

li.nav-item {
  color: #9b9b9b;
  align-items: center;
  width: 220px; }

.hipervinculos {
  text-decoration: none;
  color: #9b9b9b;
  font-size: 30px;
  font-family: 'Lobster Two', cursive; }

.hipervinculos:hover {
  color: black; }

.enuso {
  color: #1b3732;
  font-size: 30px;
  font-family: 'Lobster Two', cursive; }

.enuso:hover {
  color: #9b9b9b; }

body {
  background-color: #ffda9e;
  color: #9b9b9b; }

form fieldset {
  font-size: 20px;
  margin-top: 50px;
  font-family: 'Pacifico', cursive;
  text-align: center; }

legend.formulario {
  font-size: 50px;
  margin-bottom: 30px; }
