@import "_variables.scss";

body {
    background-color: $colorfondo;
    color: $colorletra;
}


form fieldset{
    font-size: 20px;
    margin-top: 50px;
    font-family: 'Pacifico', cursive;
    text-align: center;
}

legend.formulario{
    font-size: 50px;
    margin-bottom: 30px;
}